/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

@use "vuetify" with (
  $body-font-family: "Rubik",
  $color-pack: false,
);

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

/* Vue Notifications */
.vue-notification-group {
  padding-top: 20px;
  z-index: 999999 !important;
}

.vue-notification-wrapper {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 2px 0;
}

.vue-notification-template.app-notifications {
  border: 2px solid transparent !important;
  margin: 2px 0 !important;
}

.notification-title {
  font-weight: 600
}

.vue-notification,
.app-notifications {
  margin: 0;
  font-size: 12px;
  padding: 12px 16px;
  margin: 0;
  text-align: center !important;
  border-radius: 4px;
  color: #333;
  background: #44a4fc;
  border: 1px solid #187FE7
}

.vue-notification.warn,
.app-notifications.warn {
  background: #ffb648;
  border: #f48a06
}

.vue-notification.error,
.app-notifications.error {
  background: #f6d9d7;
  border: #b82e24
}

.vue-notification.success,
.app-notifications.success {
  background: #b6f9ca;
  border: #42a85f
}
